In [ ]:
a=[1, 2, 3, 4]
print(a)
print(type(a))

[1, 2, 3, 4]
<class 'list'>

In [ ]:
names=["Hari", "Gita", "Sita", "Ram"]
print(names)
print(type(names))

['Hari', 'Gita', 'Sita', 'Ram']
<class 'list'>

In [ ]:
# List can contain any data types:
x=["John", 1992, 12.45, 21-7j, True, [4, "Hari"]]
print(x)

['John', 1992, 12.45, (21-7j), True, [4, 'Hari']]

In [ ]:
a=["apple", "banana", "cherry", "mango"]
print(a)
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[0])
print(a[1])
print(a[2])
print(a[3])

['apple', 'banana', 'cherry', 'mango']
mango
cherry
banana
apple
apple
banana
cherry
mango

In [ ]:
# Slicing a List
# Syntax: L[Start: stop: step]
# Here, start is inclusive and stop is exclusive
# List are mutable: value can be changed/modified
# Step is a default value 1
# Li[:]=all elements
# Li[::2]=
# Li[::-1]=
a=["apple", "banana", "cherry", "mango"]
print(a[0:4])
print(a[1:4])
print(a[2:4])
print(a[3:4])

['apple', 'banana', 'cherry', 'mango']
['banana', 'cherry', 'mango']
['cherry', 'mango']
['mango']

In [ ]:
# Nested List: List inside a List
x=["a", ["b", ["c", "d"], ["e", "f"]]]
x

['a', ['b', ['c', 'd'], ['e', 'f']]]

In [ ]:
# Modifying a Elements in a List: Showing Mutable Properties in List
var=["apple", "banana", "mango", "orange", "papaya", "strawberry", "blueberry", "sandwich"]
var[3]="Burger"
print(var)

['apple', 'banana', 'mango', 'Burger', 'papaya', 'strawberry', 'blueberry', 'sandwich']

In [ ]:
# Lists are dynamic: elements can be added/removed from the list
y=[1, 2, "apple", "mango"]
# y[4]="Bahubali"   #due to outer index, it shows error
# Adding Elements in List
y+=["Bahubali", "Kalki"]
y

[1, 2, 'apple', 'mango', 'Bahubali', 'Kalki']

In [ ]:
# Some List methods
y=[1, 2, 'a', 4, 5.5, 6]
y.remove('a')
y
# can extend, reverse, push, pop the list as well

[1, 2, 4, 5.5, 6]