In [ ]:
print("Hello, World")

Hello, World

In [ ]:
2+2

4

In [ ]:
a=2
b=2
c=a+b
print(c)

4

In [10]:
# Operators in Python
a=45
b=2
# Addition Operator
print("Addition: ", a, "+", b, "=", a+b)

# Subtraction Operator
print("Subtraction: ", a, "-", b, "=", a-b)

# Multiplication Operator
print("Multiplication: ", a, "*", b, "=", a*b)

# Division Operator
print("Division: ", a, "/", b, "=",  a/b)

# Floor Division Operator
print("Floor Division: ",  a, "//", b, "=", a//b)

# Modulus Operator
print("Modulus Operator: ", a, "%", b, "=", a%b)

# Exponential Operator
print("Exponential Operator: ", a, "**", b, "=", a**b)

Addition:  45 + 2 = 47
Subtraction:  45 - 2 = 43
Multiplication:  45 * 2 = 90
Division:  45 / 2 = 22.5
Floor Division:  45 // 2 = 22
Modulus Operator:  45 % 2 = 1
Exponential Operator:  45 ** 2 = 2025

In [1]:
# Order of Precedence, 1st priority to bracket, then outer part
3+(2*3)

9

In [ ]:
# Taking Input from the User
num1=input("Enter First Number:")
print(num1)
num2=input("Enter Second Number:")
print(num2)
result=int(num1)+int(num2)
print(num1,"+",num2,"=",result)

Enter First Number:45
45
Enter Second Number:32
32
45 + 32 = 80

In [ ]:
# Taking Input from the User
num1=float(input("Enter First Number:"))
# By Default, it takes string as an input, so typecasting is necessary
print(num1)
num2=float(input("Enter Second Number:"))
# By Default, it takes string as an input, so typecasting is necessary
print(num2)
print(num1,"+",num2,"=",num1+num2)

Enter First Number:12.5
12.5
Enter Second Number:32.4
32.4
12.5 + 32.4 = 44.9

In [12]:
a=6
b=5.12
c=True
d='Manish Shiwakoti'
e=3-2j
print("Integer: ", a)
print("Float: ", b)
print("Boolean: ", c)
print("String: ", d)
print("Complex: ", e)

Integer:  6
Float:  5.12
Boolean:  True
String:  Manish Shiwakoti
Complex:  (3-2j)